<section class="get-in-touch-page-1" id="get-in-touch">
  <div class="get-in-touch-form-container">
    <div class="get-in-touch-page-1__content">
      <h2>{{heading}}</h2>
      <form class="get-in-touch-page-1__content__wrapper">
        <div class="get-in-touch-page-1__content__wrapper__grid">
          {{inputs}}
          <input id="leadid_token" name="universal_leadid" value="" />
        </div>
        <button class="btn btn--primary">Submit</button>
      </form>
    </div>
  </div>
</section>
