<section class="landing-page-2">
  <div class="landing-page-2__content">
    <div class="landing-page-2__content__background"></div>
    <div class="landing-page-2__content__foreground">
      <div class="landing-page-2__content__wrapper">
        <div class="landing-page-2__content__inner__wrapper">
          <div class="landing-page-2__content__text">
            <h1 class="landing-page-2__content__text__heading">{{tagline}}</h1>
            <p class="landing-page-2__content__text__description">
              {{subline}}
            </p>
          </div>

          <div class="landing-page-2__content__button__wrapper">
            <button class="landing-page-2__content__button" id="btn-1">
              {{buttonText1}}
            </button>
            <button class="landing-page-2__content__button" id="btn-2">
              {{buttonText2}}
            </button>
          </div>
        </div>
      </div>
      <div class="landing-page-2__content__image"></div>
    </div>
  </div>
</section>
