<section class="get-in-touch-page-1" id="section-3">
  <div class="get-in-touch-form-container">
    <div class="get-in-touch-page-1__content">
      <div class="get-in-touch-page-1__content__part_1">
        <h2>{{heading}}</h2>
        <form class="get-in-touch-page-1__form__wrapper" id="get-in-touch">
          <div class="get-in-touch-page-1__form__wrapper__grid">
            {{inputs}}
            <input
              type="hidden"
              id="leadid_token"
              name="universal_leadid"
              value=""
            />
            <label class="disclosure-text"
              ><input type="hidden" id="leadid_tcpa_disclosure" />By clicking
              the button below, you consent to receive calls and emails from
              {{companyName}} and its representatives about {{companyName}}'s
              products and services at the phone number(s) and email address(es)
              above, including your wireless number if provided, using automated
              technology</label
            >
          </div>
          <button class="btn btn--primary">Submit</button>
        </form>
      </div>
      <div class="get-in-touch-page-1__content__part_2">
        <h2>{{heading2}}</h2>
        <p class="get-in-touch-page-1__content__part_2__subtext">{{subText}}</p>

        <div class="contact-info">
          <div class="contact-info__list-item">
            <div>
              <i class="fa-solid fa-location-dot fa-icon"></i>
            </div>
            <p>
              <span class="contact-info__text">Address:</span>
              {{address}}
            </p>
          </div>

          <div class="contact-info__list-item">
            <div>
              <i class="fa-solid fa-phone fa-icon"></i>
            </div>
            <p><span class="contact-info__text">Phone:</span> {{phone}}</p>
          </div>

          <div class="contact-info__list-item">
            <div>
              <i class="fa-solid fa-paper-plane fa-icon"></i>
            </div>
            <p><span class="contact-info__text">Email:</span> {{email}}</p>
          </div>

          <div class="contact-info__list-item">
            <div>
              <i class="fa-solid fa-earth-americas fa-icon"></i>
            </div>
            <p><span class="contact-info__text">Website:</span> {{website}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
